<div class="blank-state">
  <%= image_tag 'blank.png', title: 'No articles' %>

  <h3>No Articles</h3>
  <p class="align--centered">
    Please <%= mail_to 'support@example.com', 'contact our support' %> team if you didn't find an answer here…
  </p>
</div>
