@import "normalize.css/normalize";

body > header {
  padding: 2em 0 0;
  display: flex;
  justify-content: center;

  .logo {
    height: 1.85em;
  }

  .topnav {
    position: absolute;
    bottom: 2.1em;
    right: 3em;
    font-size: var(--type-small);
  }
}

body > main {
  padding-top: 6rem;
  display: grid;
  grid-template-columns: repeat(24, 1fr);

  .content {
    grid-column: 6 / span 14;
  }
}
